@import "tailwindcss";

/* Базовые стили для сброса */
html, body {
  height: 100%;
  font-family: 'Inter', system-ui, sans-serif;
}

@layer utilities {
  /* Скрываем скроллбар для Chrome, Safari и Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Скрываем скроллбар для IE, Edge и Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
  }
}